body{
 background: #F6F6F6;
}
.slider {
  height: 400px;
  width: 976px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.card-container {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  /*position: absolute;*/
  left: 0;
  transition: all 1s ease;
}
.card{
  min-width: 308px;
  //border: solid grey 1px;
  box-shadow: 0 0 0px 1px #ececec;
  background: #fff;
  line-height:19px;
  display: inline-block;
  margin-right: 26px;
}

.card-image {
    height: 133px;
    background-image: url(http://via.placeholder.com/300x150);
    background-position: center;
}

.card-body .wrapper {
  padding: 19px;
}

h3 {
  font-size: 23px;
  color: #3a3a3a;
  font-family: Arial;
  font-weight: bold;
  margin: 0;
}
p.subheader {
  font-size: 12px;
  color: #adadad;
  font-family: Arial;
  font-weight: bold;
  text-transform:uppercase;
  margin-top: 0;
  margin-bottom: 19px;
}
p {
  font-size: 12px;
  color: #3a3a3a;
  font-family: Arial;
  line-height: 1.583;
  margin-top: 0;
  margin-bottom: 19px;
}

a{
  font-size: 16px;
  color: #2da936;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: center;
  position:relative;
}

.buttons span{
  font-size: 45px;
  color: #2da936;
  font-family: Arial;
  font-weight: bold;
  padding: 8px;
}
